
.page-wrapper{
  
    height: auto;
    width: auto;
}
.page-wrapper img {
    height: 300px;
    min-width: 150px;
}
.page-wrapper a{
    color: black;
}
.page-wrapper a:hover{
    color: gray;
}
.stick{
    background-color:#18887d;
    justify-content:space-around;
    width: auto;
    display: flex;
   
    border-radius:0px 0px 6px 6px;

}
.post-slider{
    width: auto;
}
.post-slider .multiple-items .items{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0px 10px;
   
}
.post-slider .multiple-items .items > .card{
    height: 350px;
    margin-left: 1px;
    background-color: rgb(248, 247, 232)
}
.gallery-wrapper{
    margin-top: 2%;
    justify-content: center;
    height: 250px;
    width: auto;
}
.gallery-wrapper img {
    height: 207px;
    max-width: 300px;
}
@media (max-width: 320px) {
    .page-wrapper img {
        height: 250px;
        width: 200px;
    }
    .post-slider .multiple-items .items .card p{
        font-size:5vw
    }
    p{
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
}