<div class="row col-12 gallery-wrapper">

    <div class="col gallery-slider">
        <div class="for_slick_slider gallery-items">
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l1.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l2.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l3.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l4.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l5.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l6.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l7.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l8.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/lightBox/l9.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>