<style>
    .events {


        height: auto;
        width: auto;
        background-image: url('../images/picBack.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* background-color: #e9e9e9; */

    }

    .eventsIT .my-col {
        height: auto;
        background-image: url('../images/city.png');
        background-color: rgb(228, 238, 233);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* background-color: #e9e9e9; */
        opacity: 1;

    }

    .events h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #161818;
    }

    .my-col {
        opacity: 1;
        margin: 15px;

        background-color: #c4dbd9;


    }

    .my-col>ul>li {
        color: black;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        list-style: none;
    }

    .my-col>ul>li>a {
        color: rgb(26, 82, 118);
        font-weight: bold;
    }

    .my-col>a {
        color: black;
        margin-left: 2%;
        font-size: 20px;
        font-weight: bold;
    }

    .my-col>p {
        color: black;
        text-align: center;
        margin-top: 15%;
    }
</style>
<div class="accordion md-accordion accordion-3 z-depth-1-half events" id="accordionEx194" role="tablist"
    aria-multiselectable="true">



    <h4 class="text-center text-uppercase py-4 px-3">Announcements</h4>

    <hr class="mb-0">

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="row eventsIT" style="width: auto;">
                <div class="col-sm-3 my-col ">


                    <h4>Upcoming Events</h4>
                    <hr>
                    <a href="https://www.aabu.edu.jo/EN/Pages/Calendar.aspx"
                        id="ctl00_ctl36_g_81827328_426f_4798_a3d8_3a5d13b1a2be_ctl00_calender" class="fa fa-calendar"
                        target="_blank">
                        Calendar</a>
                    <p>No events found</p>

                </div>

                <div class="col sm-4 my-col ">

                    <h4 class="h4">Departments Announcements</h4>
                    <hr>
                    <ul class="lik ml-auto">
                        <li><a href="#">Registration unit Announcements</a></li>
                        <li><a href="#">Announcements of Graduate Studies</a></li>
                        <li><a href="#">Tenders announcements</a></li>

                    </ul>

                </div>
                <div class="col sm-4 my-col ">
                    <h4 class="h4">Announcements</h4>
                    <hr>
                    <ul class="lik ml-auto">
                        <li><a href="#">إعلان خاص بامتحان الكفاءة الجامعية</a></li>
                        <hr>
                        <li><a href="#">جدول الامتحانات النهائية المحوسبة الفصل الدراسي الثاني للعام الجامعي
                                2019</a></li>
                        <hr>
                        <li><a href="#">
                                الدليل الارشادي لاستخدام نظام الامتحانات المحوسبة</a></li>

                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

</div>