<div class="row col-12 page-wrapper">

    <div class="col post-slider">
        <div class="for_slick_slider multiple-items">

            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/news/it.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <small style="float:right;">مناقشة مشاريع التخرج عن بُعد في كلية <br>الامير الحسين بن عبدالله
                        لتكنولوجيا
                        المعلومات</small>
                    <hr>
                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/news/rajab.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <p class="card-text">نعي الأستاذ الدكتور رجب ابو حلاوه</p>
                    <hr>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/news/annoc.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <p class="card-text">إعلان طلب إمتحان غير مكتمل</p>
                    <hr>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/news/annoc2.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <p class="card-text float-right">اعلان للطلبة حول التسجيل على الفصل الصيفي</p>
                    <hr>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-thumbnail" src="../images/news/bulghar.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <p class="p float-right">رسالة شكر وعرفان من أكاديمية <br>بلغار الإسلامية لجامعة آل البيت</p>
                    <hr>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>