<style>
    .slide img {
        max-height: 400px;
    }
</style>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/IT/It.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<hr style=" margin-top: 2%;">
<div class="justify-content-center" style="text-align: center;">
    <h3>About Collage</h3>
</div>
<div class="content">
    <hr style="margin: 2%;">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="btn btn-light" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Faculty Brief</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills" aria-selected="false"> Dean Message</a>

        </li>

        <li class="nav-item">
            <a class="btn btn-light" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Mission</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light  active" id="pills-profile-tab" data-toggle="pill" href="#pills10" role="tab"
                aria-controls="pills-profile" aria-selected="false"> Vision</a>
        </li>
    </ul>
</div>

<div class="tab-content pt-2 pl-1" style="background-color: rgb(233, 236, 235);" id="pills-tabContent">
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%;" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">
        Faculty Brief
        This Al al-Bayt University Information Technology College opened its doors to students in 2001/2002 with two
        undergraduate programs and one graduate program. It is a growth of the computer science department that exists
        at the university since 1995. The first undergraduate program is the traditional computer science program, and
        the second is the computer information systems program. The graduate program leads to the MS degree in computer
        science. Since then, an undergraduate program in management information systems has been added. In addition, an
        MS program in information and communications technology in education has recently been established jointly with
        the college of education and the private sector.
        <!-- Collapse buttons -->
        <div>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show More...
            </a>
        </div>
        <!-- / Collapse buttons -->

        <!-- Collapsible element -->
        <div class="collapse" id="collapseExample">
            <div class="mt-3">
                Our undergraduate programs have been designed to respond to new trends in the IT field, and to local,
                regional and international market needs that correspond to these trends. The trends are the expanding
                role of object-oriented programming, networking, the world wide web, E-business, E-government,
                E-learning, service-oriented computing, interpersonal communication skills, computer ethics and computer
                security. Indeed computing and computer communications have become pervasive.

                The computer science curriculum includes core requirements in programming languages, data structures,
                algorithms, computational theory, computer architecture, networking, distributed systems, database
                management systems, and computer security. The major difference between the computer information systems
                (CIS) curriculum and the computer science curriculum is that CIS emphasizes information systems
                fundamentals and applications, including information storage and retrieval, and internet-based
                information.
                The design of the management information systems curriculum was influenced by a needs survey of several
                major IT companies in the country. The survey showed a clear demand that computer professionals have
                good business, accounting, and English language skills. This is in addition to the common basic computer
                skills. It is expected that the English language skills of all of our undergraduates will be improved by
                the use of this language as a principal language of instruction. Moreover, our university requirements
                include English language courses.
                The management information systems program differs from the remaining undergraduate programs in two main
                aspects. They are:
                First, the core requirements include courses in business management, human resources management,
                marketing, and accounting.
                Second, common management information systems are treated extensively. Examples are financial
                management, production management, electronic marketing, and workflow systems .
                The IT College aims to give students a sound theoretical foundation, problem-solving skills, hands-on
                experience, and an awareness of the relevance of computer technology to the well-being of society. The
                theoretical foundation and problem-solving skills are a must because technology is bound to change
                during the professional life of the graduate, which typically spans decades. The goal of hands-on
                experience is to guarantee relevance to current technology. It is achieved by emphasizing homework,
                having open labs, requiring a graduation project, and cooperating with the IT industry. To achieve the
                aims of the college, we have 10 PC labs that contain about 230 PCs, CAI classrooms that contain over 200
                PCs, and a parallel computer that was financed by the European Union. This parallel computer has been
                used for research and graduate instruction to both Al al-Bayt and other Jordanian graduate students.

                Al al-Bayt University has a modern local area network that covers virtually all of its buildings. This
                network uses Ethernet, Fast Ethernet, Gigabit Ethernet, and ATM technologies.
                Of relevance to all of its students and the community at large, Al al-Bayt University has many training
                programs, and it has an ICDL (International Computer Driving License) test center.
                A challenge to all Jordanian universities, including ours, is the local scarcity of qualified faculty
                members in the various computer disciplines. A special effort is constantly made to recruit additional
                faculty members. Also, we have an ambitious PhD scholarship program, whereby exceptional MS holders are
                given scholarships for enrolling in PhD programs in reputable world-class universities. The emphasis we
                place on human resources and state-of-the-art technology has for aim the formation of excellent IT
                professionals that our country, the region and the world need.
            </div>
        </div>
        <!-- / Collapsible element -->
    </div>
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%;" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">Faculty of
        Economics and Administrative Sciences at the Al al-bayt university was founded in 1992, offering B.A. Degrees in
        Accounting, Accounting information systems,Accounting and business law, Business administration, Economics of
        finance and business, Finance and banking, and Banking and financial information systems, as well as MA Degrees
        in Accounting,Business administration (MBA), Finance and banking, Public administration and Economics of finance
        and business

        The faculty provides an integrated study of social sciences by combiningfour departments:Department of business
        administration, Department of banking and finance, Department of economics of finance and business and
        Department of accounting.

        The Faculty of Economics and administrative sciences strives for the continuous improvement and development of
        students’ academic skills and abilities in order to provide the local, regional, and global labor market with
        qualified graduates equipped with both theory and knowledge. The Faculty, at the undergraduate and graduate
        programs, has decided to adopt innovation in education by updating its curricula to be at a par with the
        emerging market needs and characteristics.

        Though the Faculty went through various changes, but constantly produced graduates who made valuable
        contributions to the regional economy in general andlocal economy in particular..</div>
    <div class="tab-pane fade" id="pills-contact" style="padding: 0px 5% 0px 5%;" role="tabpanel"
        aria-labelledby="pills-contact-tab">Forming ethical,
        competent and confident students who have relevant skills (including critical thinking, leadership and ability
        to work in a team).
        Providing knowledge and practical experience derived from coursework and interaction with the community.
        Developing and utilizing a curriculum responsive to the needs of the community.
        Continuing to recruit, develop and retain qualified faculty and staff.
        Enhancing the scholarship of teaching through pedagogical research.</div>
    <div class="tab-pane fade show active" style="padding: 0px 5% 0px 5%;" id="pills10" role="tabpanel"
        aria-labelledby="pills-contact-tab">Forming ethical,
        The Faculty of Finance and Business Administration is a competent institution of higher education with unique
        inter-disciplinary, integrative academic and practical educational approach, applied research emphasis, and
        critical local and regional involvement.</div>
    <hr style="margin-bottom: 2%;">
</div>


<div class="row col-12 page-wrapper" style="margin-top: 5%;">

    <div class="col post-slider">
        <div class="for_slick_slider multiple-items">

            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="" src="../images/IT/aabu.png" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">Graduation Projects</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/course.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">دورة تعريفية لبرمجة لوحات التحكم الالكترونية</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/won.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">فوز طالبه من كلية تكنولوجيا المعلومات بجائزة المهرجان التكنولوجي الوطني التاسع</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/annoc.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">Graduation Projects</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/aabu.png" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">تأهل فريقين من كلية تكنولوجيا المعلومات لمسابقة البرمجة العالمية ACM- ACPC2015
                    </a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<hr style="width: 25%;">


<div id="accordion">
    <div class="justify-content-center">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Announcements </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row eventsIT" style="width: auto;">
                    <div class="col-sm-3 my-col ">
                        <article class="article">
                            <h4 class="article__title">Graduation Projects Discussion</h4>

                            <hr>

                            <div class="article__content">
                                ​موعد مناقشة مشاريع التخرج لكلية تكنولوجيا المعلومات ​سيكون يوم الاحد الموافق
                                22-12-2019

                            </div>
                            <pre>Expires <span class="float-right">29/05/2020</span></pre>
                        </article>
                    </div>

                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">Scientific Day</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عمل يوم علمي في كلية تكنولوجيا المعلومات بتاريخ 19-12-2019

                                يتضمن لقاء مع الطلبة الجدد

                                لقاء مع الطلبة الخريجين

                                عقد مسابقة ال البيت الثالثة للبرمجة

                                نشاطات علمية اخرى

                            </div>
                            <pre>Expires <span class="float-right">29/05/2020</span></pre>
                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">اعلان مسابقة البرمجة الاولى في جامعة ال البيت</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عقد مسابقة برمجة في الجامعة على غرار المسابقة الدولية للبرمجة
                                ACM-ICPC

                                على الطلبة الراغبين بالمشاركة التسجيل على الرابط الالكتروني
                                http://bit.ly/1B8qvn1

                                موعد المسابقة يوم الخميس 2-4-2015 الساعة 8:30 الى 1:30
                                تتكون المسابقة من فرق , كل فريق يتألف من 3 متسابقين
                                سيتم تأهيل الفرق الفائزة للمسابقة الوطنية للبرمجة ِACM-JCPC ومن ثم للمسابقة العربية
                                ِACM-ACPC
                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">01/04/2020</span></pre>

                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">حضور ندوة لبرمجة الهواتف المحمولة باستخدام الاندرويد</h4>

                            <hr>

                            <div class="article__content">
                                على طلبة كلية تكنولوجيا المعلومات ضرورة حضور الندوة التي ستعقدها الكلية بالتعاون مع
                                اكاديمية الرواد بعنوان

                                برمجة الهواتف المحمولة باستخدام الاندرويد
                                وذلك يوم الاحد الموافق 15-11-2015 في مبنى الامام مسلم من الساة الحادية عشرة وحتى
                                الساعة
                                الثانية عشرة والنصف

                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">31/12/2017</span></pre>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Computer Science
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse Science" aria-labelledby="headingTwo" data-parent="#accordion">
            <img src="../images/IT/DrAkram.jpg" class="rounded-circle w-25 p-8">
            <div class="card-body ">

                Welcome to the Department of Computer Science at Al al-Bayt University. The Computer Science
                Department
                was established in 1994 in the Faculty of Arts and Science. With the establishment of the Prince
                Hussein
                bin Abdullah for Information Technology, the Department was incorporated into it. The department has
                two
                programs M.Sc. and B.Sc. There are around 500 students enrolled in the two programs.

                Our B.Sc. students have access, through instruction and laboratory experiences, to a wide range of
                subjects in different areas of computer science and they are also have access to a wide range of
                computers (laboratories are equipped with several hundred PCs) and specialized software packages.

                The department launched the M.Sc. program in Computer Science (thesis Track) in 1995. This program
                serves the needs of the local society in terms of highly qualified IT professionals. It also
                provides
                students with advanced knowledge and skills that enable them to pursue doctoral degree in computer
                science

                <div class="float-right" style="margin-top: 2%;"> Dr Akram Hamarsheh</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse info" aria-labelledby="headingThree" data-parent="#accordion">
            <img src="../images/IT/me.jpg" class="rounded-circle w-25 p-3">
            <div class="card-body ">

                The faculty and staff of the Department of Information Systems at Al al-Bayt University welcome you
                to
                our department's website​. Our mission is to develop the skills and knowledge necessary to design,
                develop, use, manage, and study information systems in increasingly complex and dynamic global
                business
                environments.


                The Department offers bachelors degrees in the following areas: Computer Information Systems, and
                Management Information Systems.As the Information Systems Department, we are committed to developing
                and
                delivering the best Information Systems education. Our mission is to equip our graduates with the
                necessary skills and knowledge to excel in the Information Technology job market.

                <div class=" float-right" style="margin-top: 2%;"> Dr. Mohammad Alsharo , Ph.D</div>
            </div>
        </div>
    </div>
</div>