<div class="row col-12 page-wrapper" style="margin-top: 5%;">

    <div class="col post-slider">
        <div class="for_slick_slider multiple-items">

            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="" src="../images/IT/aabu.png" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">Graduation Projects</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/course.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">دورة تعريفية لبرمجة لوحات التحكم الالكترونية</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/won.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">فوز طالبه من كلية تكنولوجيا المعلومات بجائزة المهرجان التكنولوجي الوطني التاسع</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/annoc.jpg" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">Graduation Projects</a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">
                <div class="col-12 card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../images/IT/aabu.png" alt="Card image cap">
                        <a href="#!">
                        </a>
                    </div>
                    <!-- Title -->
                    <!-- Text -->
                    <a href="#">تأهل فريقين من كلية تكنولوجيا المعلومات لمسابقة البرمجة العالمية ACM- ACPC2015
                    </a>

                    <!-- Length -->
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar"></i>
                            17-01-2017
                        </span>
                        <span class="course-length">
                            <i class="fa fa-clock"></i>
                            <span
                                id="ctl00_ctl36_g_6aa1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_ltrLength"
                                class="newsLength">3</span>
                            <span
                                id="ctl00_ctl36_g_6a1b04f_e0af_4fa9_b2c4_00c5f6406703_ctl00_rptLatestNews_ctl04_lblDayOrMunth">Years
                                ago</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<hr style="width: 25%;">


<div id="accordion">
    <div class="justify-content-center">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Announcements </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row eventsIT" style="width: auto;">
                    <div class="col-sm-3 my-col ">
                        <article class="article">
                            <h4 class="article__title">Graduation Projects Discussion</h4>

                            <hr>

                            <div class="article__content">
                                ​موعد مناقشة مشاريع التخرج لكلية تكنولوجيا المعلومات ​سيكون يوم الاحد الموافق 22-12-2019

                            </div>
                            <pre>Expires <span class="float-right">29/05/2020</span></pre>
                        </article>
                    </div>

                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">Scientific Day</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عمل يوم علمي في كلية تكنولوجيا المعلومات بتاريخ 19-12-2019

                                يتضمن لقاء مع الطلبة الجدد

                                لقاء مع الطلبة الخريجين

                                عقد مسابقة ال البيت الثالثة للبرمجة

                                نشاطات علمية اخرى

                            </div>
                            <pre>Expires <span class="float-right">29/05/2020</span></pre>
                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">اعلان مسابقة البرمجة الاولى في جامعة ال البيت</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عقد مسابقة برمجة في الجامعة على غرار المسابقة الدولية للبرمجة
                                ACM-ICPC

                                على الطلبة الراغبين بالمشاركة التسجيل على الرابط الالكتروني
                                http://bit.ly/1B8qvn1

                                موعد المسابقة يوم الخميس 2-4-2015 الساعة 8:30 الى 1:30
                                تتكون المسابقة من فرق , كل فريق يتألف من 3 متسابقين
                                سيتم تأهيل الفرق الفائزة للمسابقة الوطنية للبرمجة ِACM-JCPC ومن ثم للمسابقة العربية
                                ِACM-ACPC
                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">01/04/2020</span></pre>

                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">حضور ندوة لبرمجة الهواتف المحمولة باستخدام الاندرويد</h4>

                            <hr>

                            <div class="article__content">
                                على طلبة كلية تكنولوجيا المعلومات ضرورة حضور الندوة التي ستعقدها الكلية بالتعاون مع
                                اكاديمية الرواد بعنوان

                                برمجة الهواتف المحمولة باستخدام الاندرويد
                                وذلك يوم الاحد الموافق 15-11-2015 في مبنى الامام مسلم من الساة الحادية عشرة وحتى الساعة
                                الثانية عشرة والنصف

                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">31/12/2017</span></pre>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Computer Science
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse Science" aria-labelledby="headingTwo" data-parent="#accordion">
            <img src="../images/IT/DrAkram.jpg" class="rounded-circle w-25 p-8">
            <div class="card-body ">

                Welcome to the Department of Computer Science at Al al-Bayt University. The Computer Science Department
                was established in 1994 in the Faculty of Arts and Science. With the establishment of the Prince Hussein
                bin Abdullah for Information Technology, the Department was incorporated into it. The department has two
                programs M.Sc. and B.Sc. There are around 500 students enrolled in the two programs.

                Our B.Sc. students have access, through instruction and laboratory experiences, to a wide range of
                subjects in different areas of computer science and they are also have access to a wide range of
                computers (laboratories are equipped with several hundred PCs) and specialized software packages.

                The department launched the M.Sc. program in Computer Science (thesis Track) in 1995. This program
                serves the needs of the local society in terms of highly qualified IT professionals. It also provides
                students with advanced knowledge and skills that enable them to pursue doctoral degree in computer
                science

                <div class="float-right" style="margin-top: 2%;"> Dr Akram Hamarsheh</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse info" aria-labelledby="headingThree" data-parent="#accordion">
            <img src="../images/IT/me.jpg" class="rounded-circle w-25 p-3">
            <div class="card-body ">

                The faculty and staff of the Department of Information Systems at Al al-Bayt University welcome you to
                our department's website​. Our mission is to develop the skills and knowledge necessary to design,
                develop, use, manage, and study information systems in increasingly complex and dynamic global business
                environments.


                The Department offers bachelors degrees in the following areas: Computer Information Systems, and
                Management Information Systems.As the Information Systems Department, we are committed to developing and
                delivering the best Information Systems education. Our mission is to equip our graduates with the
                necessary skills and knowledge to excel in the Information Technology job market.

                <div class="float-right" style="margin-top: 2%;"> Dr. Mohammad Alsharo , Ph.D</div>
            </div>
        </div>
    </div>
</div>