<style>
    .slide img {
        max-height: 400px;
    }
</style>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/Nursing/nursing.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<hr style=" margin-top: 2%;">
<div class="justify-content-center" style="text-align: center;">
    <h3>About</h3>
</div>
<div class="content">
    <hr style="margin: 2%;">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="btn btn-light  active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Faculty Brief</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills" aria-selected="false"> Dean Message</a>

        </li>

        <li class="nav-item">
            <a class="btn btn-light" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Mission and Philosophy Statement</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light " id="pills-profile-tab" data-toggle="pill" href="#pills10" role="tab"
                aria-controls="pills-profile" aria-selected="false">Conect us</a>
        </li>
    </ul>
</div>

<div class="tab-content pt-2 pl-1" style="background-color: rgb(233, 236, 235);" id="pills-tabContent">
    <div class="tab-pane fade show active" style="padding: 0px 5% 0px 5%;" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">
        Faculty Brief
        Establishment of the College

        The Faculty of Nursing at Al-Bayt University was established by a decision of the University Board of Trustees
        No. 3/2001 on 21/1/2001, to manage the nursing shortage and provide the health sector with qualified staff in
        the Mafraq area in particular the rest of Jordan in general. Princess Salma was named after the inauguration of
        the Faculty of Nursing under the patronage of HRH Princess Mona on 5 June 2002.
        <!-- Collapse buttons -->
        <div>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show More...
            </a>
        </div>
        <!-- / Collapse buttons -->

        <!-- Collapsible element -->
        <div class="collapse" id="collapseExample">
            <div class="mt-3">
                The message

                Providing high quality programs that enable graduates to acquire the knowledge and skills they need to
                become competent nurses capable of providing good service at local, regional and global levels.

                The College Objectives

                Preparing graduates capable of providing a distinguished quality of health care and nursing and
                participate in the development of academic nursing programs at the local, regional and international
                levels
                Excellence in the professional practice of nursing and health by adhering to international and local
                professional standards and codes of conduct for optimal values in the delivery of health care.Showing
                tolerance, respect for values, appreciation of good citizenship, volunteering, respect for opinion and
                other opinion and respect for other cultures.
                Serving the community and supporting health, nursing and social issues by raising awareness.
                Involving both faculty members and students in the challenges of current and proposed health programs
                and support the educational process in terms of content for bachelor and master level in accordance with
                quality standards.
                Developing of new programs commensurate with the requirements of the society and sustainable
                development.
                Programs

                -Bachelor program in Nursing Science
                -Postgraduate programs are available at the College of Nursing, offering a master's degree in both adult
                health nursing and the community.
            </div>
        </div>
        <!-- / Collapsible element -->
    </div>
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%;" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">Faculty of
        Welcome to the Dean of Princess Salma Bint Abdullah College of Nursing at Al-Bayt University

        Since its establishment in 2001, the College has been teaching and training students in line with the
        development of the healthcare sector, to provide the local and international community with qualified and
        experienced graduates in accordance with local and international accreditation standards.

        Princess Salma Bint Abdullah College of Nursing adopts scientific thinking in teaching courses and managing
        curricular and extra-curricular activities. The College also pursues scientific survey to solve problems,
        improve students' thinking, and develop their own independent learning.

        The College's policy is to develop the scientific research skills of students through the provision of training
        material based on scientific evidence. The College intends to involve students in the scientific research
        process through the introduction of updated and developed learning plans focused on the application of the
        foundations of scientific research. Princess Salma College is committed to continuing to develop cognitive and
        research capabilities by involving faculty members in research projects that serve the process of improving the
        quality of health care, in order to achieve the College 's goal of producing a qualified and effectively trained
        workforce.

        Recently, postgraduate programs have been introduced at the College of Nursing, granting a master's degree in
        adult health and community health.

        I would like to take this opportunity to welcome you to PSFN.

        We look forward to working collaboratively on this journey towards better nursing care and achieving the goals
        of the PSFN.
        <br>
        <div class="col" style="text-align: center;">
            <small>Sincerely,

                Professor Dr. Mohammed ALBashtawy, RN, PhD

                Dean of Princess Salma / Faculty of Nursing
                Al al-Bayt University, P.O.BOX 130040,
                Mafraq 25113, Jordan + 962-2-6297000
                E-mail:mohammadbash@aabu.edu.jo</small></div>


    </div>
    <div class="tab-pane fade" id="pills-contact" style="padding: 0px 5% 0px 5%;" role="tabpanel"
        aria-labelledby="pills-contact-tab">The Faculty of Nursing at Al al-Bayt University derives its vision and
        philosophy from the overall vision of the AL al-Bayt University, which originally established to combine the
        scientific knowledge and skills with values, ethics and moral excellence.

        The mission of the Faculty of Nursing at Al al-Bayt University is to bring about a qualitative nursing education
        by focusing on the optimum values that mixed with the scientific knowledge and skills. This vision is translated
        into the real life by preparing nurses who are capable of providing a high quality of care for individuals and
        communities within the foundations of respecting cultures and keeping abreast of developments in the global
        health and science.

        The mission of the faculty of Nursing, Princess Salma, encompasses the following themes:


        Education:
        Preparing graduate who are capable of providing the quality of care and acting as a leader and changing agent in
        her workplace.

        Research:
        Conducte research that contributes to the advancement of eveidence base knowledge and practice in nursing space
        health problems at all levels.

        Practice:
        Act as a role model in transferring the theoretical knowledge into the clinical practice.
        Demonstrate excellence in professional nursing practice.

        Moral and Ethical Standards:
        Adhere to professional standards and code of ethics to optimum values in providing of health care.
        Demonstrate tolerance and respect of values from different cultures.

        Serving the Community :
        Interact with the community and the ever changing community issues.
        Establish activities that raise awareness of health and serving the community.</div>
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%; text-align: center;" id="pills10" role="tabpanel"
        aria-labelledby="pills-contact-tab">Forming ethical,
        Email : nursing@aabu.edu.jo <br>
        Telephone number :
        026297000 /Dean num 2852 or 2855</div>
    <hr style="margin-bottom: 2%;">
</div>


<div id="accordion">
    <div class="justify-content-center">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Announcements </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

            <a href="#" class="thumbnail">
                <img src="../images/IT/DrAkram.jpg" class="col-2">
            </a>

            <div class="card-body" style="display: flex;">
                Department message

                Welcome to the Adult Health Nursing Department Princess Salma Faculty of Nursing. Adult Health
                Department one of the largest and vital departments in the faculty where, as student, will be taught
                considerable number of courses through the four years of your undergraduate study. Within this website
                you can find the complete list of the courses that are taught in our department. At our department, we
                are creating a learning environment that encourages our students to meet a changing and challenging
                healthcare environment with education as the means to make a difference in the lives of people.

                We are eager to implant within our students a belief that providing excellent care is not just an
                aspiration but an expectation. We guide our students to strive for excellence with the understanding
                that good enough is never good enough -especially now as nurses are being called to lead in the
                transformation and advancement of healthcare systems overall the world.

                It is definitely an exciting time to be a nurse and we are excited that you are considering our School
                of Nursing to help you make your goals something more that will not only change your life but the lives
                of so many others you will encounter in your career.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Maternal and Child Health Nursing
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse Science " aria-labelledby="headingTwo" data-parent="#accordion">
            <img src="../images/IT/DrAkram.jpg" class="rounded-circle w-25 p-8">
            <div class="card-body ">

                Courses taught by the department of Maternal and Child Health Nursing include: Maternal Health Nursing
                (theory and clinical); Child Health Nursing (theory and clinical); Neonatal Health Nursing; Growth and
                Development, and Theater Nursing and Infection Prevention. Students in the clinical courses are trained
                in high standard health care institutions including hospitals of the Ministry of Health, Royal Medical
                Services, Private hospitals and university hospitals. Besides the teaching role the department
                incorporates research role as major part of the faculty activities. The faculty members of the
                department have various areas of research including prenatal care, nursing care during labor and
                delivery postpartum care, and other related areas of research.


                <div class="float-right" style="margin-top: 2%;"> Dr Akram Hamarsheh</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    About Department
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse info" aria-labelledby="headingThree" data-parent="#accordion">
            <img src="../images/IT/me.jpg" class="rounded-circle w-25 p-3">
            <div class="card-body ">

                Community and mental health nursing department is one of three departments at the faculty of nursing.

                The goals of the department are to prepare nurses for leadership and advocacy in the health promotion,
                disease prevention and health restoration of individuals, families and communities. Also, the department
                is aimed to conduct scientific research to explore the community health needs. Therefore, the Community
                and Psychiatric Health Nursing Department is committed to achieve its goals by providing nursing
                students with the adequate knowledge and effective skills. Furthermore, the department is frequently
                arranging health education counseling and sessions for the community residents in Mafraq and Badia area.
                The department is also coordinate with the governmental and nongovernmental organization (e.g. WHO) in
                order to provide health services through arranging health campaigns.

                Graduates of Princes Salma Faculty of Nursing are expected to be committed to contribute to the health
                of the global community as well as the local communities surrounding Al al-Bayt University, such as
                suburban, rural, and Bedouin communities.
                <div class=" float-right" style="margin-top: 2%;"> Dr. Mohammad Alsharo , Ph.D</div>
            </div>
        </div>
    </div>
</div>