<div class="ms-PartSpacingVertical"></div>
</div>
<div id="MSOZoneCell_WebPartWPQ1"
   class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
   <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
      <div WebPartID="200964a3-b147-4f0c-a9a7-2639aaa20d9f" HasPers="false" id="WebPartWPQ1" width="100%"
         class="ms-WPBody noindex " allowDelete="false">
         <div class="ms-rtestate-field">
            <header>
               <h2>University Administration</h2>
            </header>
            <div class="row">
               <div style="min-height: 0px;">
                  <div class="col-md-3 col-sm-3" style="min-height: 409px;">
                     <div class="description">
                        <a href="http://localhost:3000/abbuabout/UniversityAdministration"
                           style="color: #01366a !important;">
                           <h3>Office of the President</h3>
                        </a> </div>
                     <!-- /.featured-course -->
                  </div>
                  <!-- /.col-md-3 -->
               </div>
               <div style="min-height: 0px;">
                  <div class="col-md-3 col-sm-3" style="min-height: 409px;">
                     <div class="description">
                        <a href="http://localhost:3000/abbuabout/BoardOfTrustees" style="color: #01366a !important;">
                           <h3>Board of Trustees</h3>
                        </a> </div>
                     <!-- /.featured-course -->
                  </div>
                  <!-- /.col-md-3 -->
               </div>
               <!-- /.row -->
               <div style="min-height: 0px;">
                  <div class="col-md-3 col-sm-3" style="min-height: 409px;">
                     <div class="description">
                        <a href="http://localhost:3000/abbuabout/DeansCouncil" style="color: #01366a !important;">
                           <h3>Deans Council</h3>
                        </a> </div>
                     <!-- /.featured-course -->
                  </div>
                  <!-- /.col-md-3 -->
               </div>
               <!-- /.row -->
               <div style="min-height: 0px;">
                  <div class="col-md-3 col-sm-3" style="min-height: 409px;">
                     <div class="description">
                        <a href="#" style="color: #01366a !important;">
                           <h3>University Council</h3>
                        </a> </div>
                     <!-- /.featured-course -->
                  </div>
                  <!-- /.col-md-3 -->
               </div>
               <!-- /.row -->
            </div>
         </div>
         <div class="ms-clear"></div>
      </div>
   </div>
</div>
</div>
</div><!-- /.col-md-8 -->
</div><!-- /.row -->
</div><!-- /.container -->

<div style='display:none' id='hidZone'>
   <menu class="ms-hide">
      <ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif"
         onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))"
         text="Help" type="option" style="display:none">

      </ie:menuitem>
   </menu>
</div>
</span>
</div>
</div>
<!--End Main-->