<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>University_Administration</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

</head>

<body>
   <%- include ("../views/header") %>

   <main>
      <div class="container">
         <%- include ("../views/aboutrepeat") %>
      </div>
   </main>
   <br>
   <br>

  <footer>
   <%- include ('../views/footer') %>
  </footer>
   <script type="text/javascript" src="../style/mdb/js/jquery.min.js"></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
   <!-- Your custom scripts (optional) -->
   <script type="text/javascript"></script>
</body>

</html>