<!--Carousel Wrapper-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>University_Administration</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
      <link rel="stylesheet" href="../about/about.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 


</head>

<body>

    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="../images/home/4.jpg" alt="First slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/home/5.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/home/7.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/home/6.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="../images/home/1.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="fas fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="fas fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--Carousel Wrapper-->
    <h1>lastst News</h1>
    <hr>
    <%- include ("../components/news") %>
    <hr style="margin-bottom: 20px;">
    <%- include ("../components/homeAnnoucements") %>
    <hr>
    <%- include ("../components/gallery") %>

    <hr>
    <div class="row eventsIT justify-content-center">
        <div class="col-sm-3 my-col">
            <h4 class="h4">Academic & Research</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">International Cooperation</a></li>
                <li><a href="#">Journals</a></li>
                <li><a href="#">Facts and Figures</a></li>
                <li><a href="#">Laws and regulations</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Pioneers of Al al-Bayt</a></li>


            </ul>
        </div>
        <hr>
        <div class="col-sm-3 my-col">
            <h4 class="h4">Campus Life</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">International Cooperation</a></li>
                <li><a href="#">Journals</a></li>
                <li><a href="#">Facts and Figures</a></li>
                <li><a href="#">Laws and regulations</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Pioneers of Al al-Bayt</a></li>


            </ul>

        </div>

        <div class="col-sm-3 my-col">
            <h4 class="h4">Quick Links</h4>
            <hr>
            <ul class="lik ml-auto">
                <li><a href="#">Go to radio of the University online</a></li>
                <li><a href="#">Department of legal affairs</a></li>
                <li><a href="#">Board of trustees</a></li>
                <li><a href="#">e-learning</a></li>
                <li><a href="#">Faculty members guide</a></li>
                <li><a href="#">National data base for researchers</a></li>
                <li><a href="#">Phone directory</a></li>
                <li><a href="#">Forms</a></li>
            </ul>
        </div>
    </div>




    <!--/.Carousel Wrapper-->
    <script type="text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="../style/slick/slick.min.js"></script>
    <script src="../style/slick/homeSlick.js"></script>
</body>