.eventsIT .my-col{
    height: auto;
    border-radius: 15px;
    background-image: url('../images/city.png');
    background-color: rgb(198, 228, 214);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #e9e9e9; */

}
.card-header:first-child{
    background-color: #208f84;
}
.Science{
    display: flex;
}
.info{
    display: flex;
}
@media (max-width: 320px) {
    .Science{
        display:block;
    }
}
@media (max-width: 1000px) {
    .Science img{
       height: 50%;
    }
    .info{
        display: block;
    }
}