<style>
    .slide img {
        max-height: 400px;
    }
</style>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/finance/eco.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<hr style=" margin-top: 2%;">
<div class="content">
    <hr style="margin: 2%;">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="btn btn-light" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Faculty Brief</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills" aria-selected="false"> Dean Message</a>

        </li>

        <li class="nav-item">
            <a class="btn btn-light" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Mission</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light  active" id="pills-profile-tab" data-toggle="pill" href="#pills10" role="tab"
                aria-controls="pills-profile" aria-selected="false"> Vision</a>
        </li>
    </ul>
</div>
<hr style="margin: 1%;">
<div class="tab-content pt-2 pl-1" style="background-color: rgb(233, 236, 235);" id="pills-tabContent">
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%;" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab">

        The Vision of the College of Finance and Business Administration is to make every effort to be recognized as a
        leading College in the Arab Region and the Muslim world, while meeting international standards for excellence in
        economics and business education. Its mission is to provide the business community with high quality graduates
        who are competitive in leadership and research at national and regional level, and to graduate professionals who
        can support the Jordanian economic developments. The college includes four departments: Finance, Accounting,
        Economics of Finance and Business , and Business Administration.

        The mission of the of the collage of finance Business Administration supports the overall mission of the College
        of Economics and Administrative Sciences and the University of Al al-Bayt in providing students with competence
        to pursue excellence and with active leadership in national and regional economies. Teaching and training of
        students is designed for a wide range of careers in business in either profit or non-profit projects of small,
        medium, or large organizations that focus primarily on domestic and regional businesses and market demands. For
        example, promotion of small-and-mid-size enterprises has been highlighted recently by the Ministry of Higher
        Education and Scientific Research in its latest report (2005). Consequently, students are motivated to acquire a
        comprehensive range of analytical, problem-solving, and professional skills that are increasingly valued in
        industry, commerce, education, government, and non-profit marketing organizations.



        Prof. Bahjat Al-jawazneh, Dean</div>
    <div class="tab-pane fade" style="padding: 0px 5% 0px 5%;" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">Faculty of
        Economics and Administrative Sciences at the Al al-bayt university was founded in 1992, offering B.A. Degrees in
        Accounting, Accounting information systems,Accounting and business law, Business administration, Economics of
        finance and business, Finance and banking, and Banking and financial information systems, as well as MA Degrees
        in Accounting,Business administration (MBA), Finance and banking, Public administration and Economics of finance
        and business

        The faculty provides an integrated study of social sciences by combiningfour departments:Department of business
        administration, Department of banking and finance, Department of economics of finance and business and
        Department of accounting.

        The Faculty of Economics and administrative sciences strives for the continuous improvement and development of
        students’ academic skills and abilities in order to provide the local, regional, and global labor market with
        qualified graduates equipped with both theory and knowledge. The Faculty, at the undergraduate and graduate
        programs, has decided to adopt innovation in education by updating its curricula to be at a par with the
        emerging market needs and characteristics.

        Though the Faculty went through various changes, but constantly produced graduates who made valuable
        contributions to the regional economy in general andlocal economy in particular..</div>
    <div class="tab-pane fade" id="pills-contact" style="padding: 0px 5% 0px 5%;" role="tabpanel"
        aria-labelledby="pills-contact-tab">Forming ethical,
        competent and confident students who have relevant skills (including critical thinking, leadership and ability
        to work in a team).
        Providing knowledge and practical experience derived from coursework and interaction with the community.
        Developing and utilizing a curriculum responsive to the needs of the community.
        Continuing to recruit, develop and retain qualified faculty and staff.
        Enhancing the scholarship of teaching through pedagogical research.</div>
    <div class="tab-pane fade show active" style="padding: 0px 5% 0px 5%;" id="pills10" role="tabpanel"
        aria-labelledby="pills-contact-tab">Forming ethical,
        The Faculty of Finance and Business Administration is a competent institution of higher education with unique
        inter-disciplinary, integrative academic and practical educational approach, applied research emphasis, and
        critical local and regional involvement.</div>
</div>
<hr style="margin-bottom: 2%;">
<div id="accordion">
    <div class="justify-content-center">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Announcements </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row eventsIT" style="width: auto;">
                    <div class="col-sm-3 my-col ">
                        <article class="article">
                            <h4 class="article__title">All Announcements</h4>

                            <hr>

                            <div class="article__content">
                                College has announced that it free from smoking in cooperation with the ambassadors of
                                (kafa) to raise awareness of health and traffic Tuesday, 6/4/2010


                            </div>
                            <pre>Expires <span class="float-right">02-01-2018</span></pre>
                        </article>
                    </div>

                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">Scientific Day</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عمل يوم علمي في كلية تكنولوجيا المعلومات بتاريخ 19-12-2019

                                يتضمن لقاء مع الطلبة الجدد

                                لقاء مع الطلبة الخريجين

                                عقد مسابقة ال البيت الثالثة للبرمجة

                                نشاطات علمية اخرى

                            </div>
                            <pre>Expires <span class="float-right">29/05/2020</span></pre>
                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">اعلان مسابقة البرمجة الاولى في جامعة ال البيت</h4>

                            <hr>

                            <div class="article__content">
                                سيتم عقد مسابقة برمجة في الجامعة على غرار المسابقة الدولية للبرمجة
                                ACM-ICPC

                                على الطلبة الراغبين بالمشاركة التسجيل على الرابط الالكتروني
                                http://bit.ly/1B8qvn1

                                موعد المسابقة يوم الخميس 2-4-2015 الساعة 8:30 الى 1:30
                                تتكون المسابقة من فرق , كل فريق يتألف من 3 متسابقين
                                سيتم تأهيل الفرق الفائزة للمسابقة الوطنية للبرمجة ِACM-JCPC ومن ثم للمسابقة العربية
                                ِACM-ACPC
                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">01/04/2020</span></pre>

                        </article>
                    </div>
                    <div class="col sm-4 my-col ">
                        <article class="article">
                            <h4 class="article__title">حضور ندوة لبرمجة الهواتف المحمولة باستخدام الاندرويد</h4>

                            <hr>

                            <div class="article__content">
                                على طلبة كلية تكنولوجيا المعلومات ضرورة حضور الندوة التي ستعقدها الكلية بالتعاون مع
                                اكاديمية الرواد بعنوان

                                برمجة الهواتف المحمولة باستخدام الاندرويد
                                وذلك يوم الاحد الموافق 15-11-2015 في مبنى الامام مسلم من الساة الحادية عشرة وحتى الساعة
                                الثانية عشرة والنصف

                            </div>
                            <pre class="align-self-end">Expires <span class="float-right">31/12/2017</span></pre>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Accounting
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse Science" aria-labelledby="headingTwo" data-parent="#accordion">

            <div class="row">
                <div class="col-xs-8 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="../images/finance/acco.jpg">
                    </a>
                </div>
                ...
            </div>

            <div class="card-body ">

                Welcome all to the Accounting Department website.
                Our department always attempt to reflect the latest scientific and practical developments in the field
                through a continuous development of our undergraduate and postgraduate programs, and taking into account
                the market requirements of specifics skills, knowledge and tolls for any potential employee. We also are
                very proud of our national and international networks over the World with many prestigious universities,
                which in turn helps us to prepare highly qualified graduates to work in the field of accounting,
                auditing, and accounting information systems.




                <div class="float-right" style="margin-top: 2%;">Dr. Mohammad Naser Hamdan</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Business Administration
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse info" aria-labelledby="headingThree" data-parent="#accordion">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="../images/finance/hayal.jpg">
                    </a>
                </div>
                ...
            </div>

            <div class="card-body ">

                On behalf of my colleagues, I would like to welcome you to the Department of Business Management, which
                was created to provide specialized cadres in the field of business management and to develop the
                necessary capabilities through providing innovative and effective management skills. We adopt the most
                recent international learning approaches, and the most updated education resources in order to prepare
                qualified graduates who can deal with the present-day requirements and meet the requirements of the
                labor market. We are dedicated to qualify our students, to be highly professional, and to be armed with
                the necessary knowledge and skills. We establish a supportive academic environment based on honesty and
                sincerity in conveying knowledge to our students. Through an outstanding academic staff in miscellaneous
                disciplines, the department seeks hardly to provide significant and influential research at both
                academic and practical fields. Finally, I urge students to make a big effort in the study years, and to
                reveal honorable morals and behaviors.
                <div class="float-right" style="margin-top: 2%;"> Dr. Hayel T. Ababneh</div>
            </div>
        </div>
    </div>

</div>