body{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    
}

nav{
    
    text-align: center;
    background-color: #22a799;

}
nav a {
    font-size: 20px;
}
nav li {
    padding-left: 10px;
}
.countainer{
    margin: 0 auto;
    text-align: center;

}
@media (max-width: 500px) {
    img {
        height: 50px;
    }
    .nav-link {
        font-size: 1.0rem;
    }
    body{
        padding-left: 70px;
        padding-right:70px;
        
    }

}
@media (max-width: 399px) {
    img {
        height: 80px;
    }
    .nav-link {
        font-size: 0.9rem;
    }
    body{
        padding-left: 20px;
        padding-right:20px;
        
    }

}
@media (max-width: 700px) {
    img {
        height: 100px;
    }
    .nav-link {
        font-size: 1.4rem;
    }
    body{
        padding-left: 40px;
        padding-right:40px;
        
    }

}

