<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>

    <!-- Your CSS STYLE FILE-->
    <link rel="stylesheet" href="../style/about.css">
</head>

<body>
    <header>
        <%- include ("../views/header") %>
    </header>


    <main>
        <h2 style="text-align: center;">BoardOfTrustees</h2>
        <div class="container">
            <h4>Office of the president</h4>
            <div class="row">


                <div class="president" style="min-height: 0px;">
                    <div class="col-md-3 col-sm-3">
                        <article class="featured-course">
                            <figure class="image" style="border-radius: 3%;">
                                <div class="image-wrapper">
                                    <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/adnan.jpg"
                                        id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresident_ctl00_imgPup"
                                        class="image-popup">
                                        <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/adnan.jpg'
                                            alt='أ.د محمد عدنان البخيت ' /></a>&#160;
                                </div>
                            </figure>
                            <div class="description">
                                <a href='' style="color: #01366a ! important;">
                                    <h3>
                                        رئيس المجلس
                                        <br />
                                        <br />
                                        أ.د محمد عدنان البخيت
                                    </h3>
                                </a>
                            </div>
                        </article>
                        <!-- /.featured-course -->
                    </div>
                    <!-- /.col-md-3 -->
                </div>


                <!-- /.row -->
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/kmal.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl00_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/kmal.jpg'
                                        alt='أ.د كمال عبد الحميد الحديدي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    أ.د كمال عبد الحميد الحديدي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/yousef.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl01_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/yousef.jpg'
                                        alt='أ.د يوسف محمد السوالمة' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    أ.د يوسف محمد السوالمة
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/afef.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl03_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/afef.jpg'
                                        alt='السيد محمود عبد الكريم العفيف' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    السيد محمود عبد الكريم العفيف
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/abdwahab.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl04_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/abdwahab.jpg'
                                        alt='م. عبد الوهاب أحمد الزعبي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    م. عبد الوهاب أحمد الزعبي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/mosa.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl05_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/mosa.jpg'
                                        alt='أ.د موسى أحمد السعودي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    أ.د موسى أحمد السعودي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/awrshedah.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl06_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/awrshedah.jpg'
                                        alt='السيد محمد خلف أخو رشيدة' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    السيد محمد خلف أخو رشيدة
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/tobasi.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl07_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/tobasi.jpg'
                                        alt='د. عدنان محمود الطوباسي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    د. عدنان محمود الطوباسي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/abuZaid.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl08_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/abuZaid.jpg'
                                        alt='السيد خالد محمود أبو زيد' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    السيد خالد محمود أبو زيد
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/sadam.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl09_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/sadam.jpg'
                                        alt='السيد صدام حسن الخوالدة' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    السيد صدام حسن الخوالدة
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/unnamed.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl10_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/unnamed.jpg'
                                        alt='أ.د حنان عيسى محمد ملكاوي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    أ.د حنان عيسى محمد ملكاوي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/BoardOfTrustees/22cf1a27a5d9f9f136a2da187df61a6c.jpg"
                                    id="ctl00_ctl36_g_d6a71801_41f4_4b95_91d6_9d5429ab3633_ctl00_rptPresidentGallery_ctl11_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/BoardOfTrustees/22cf1a27a5d9f9f136a2da187df61a6c.jpg'
                                        alt='السيد عبد الله عاصم عبد الله غوشة' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عضو
                                    <br />
                                    <br />
                                    السيد عبد الله عاصم عبد الله غوشة
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->
        </div>
        </div>

        </div>
    </main>

    <br>
    <br>
    <footer>

        <%- include ("../views/footer") %>
    </footer>
    <%- include ('../views/footer') %>
    <script type="text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>
</body>