<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>

    <!-- Your CSS STYLE FILE-->
    <link rel="stylesheet" href="../style/about.css">
</head>

<body>
    <header>
        <%- include ("../views/header") %>
    </header>

    <main>
        <div class="container">
            <h4>Deans Council</h4>

            <div class="row">
                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ismail.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl00_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ismail.jpg'
                                        alt='أ.د أسماعيل عبابنه'></a>&#160
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h5>
                                    نائب الرئيس لشؤون الادارية
                                    <br />
                                    <br />
                                    أ.د أسماعيل عبابنه
                                </h5>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/eqab.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl01_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/eqab.jpg'
                                        alt='أ.د عقاب ربيع' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h5>
                                    نائب الرئيس للشؤون الاكاديمية
                                    <br />
                                    <br />
                                    أ.د عقاب ربيع
                                </h5>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/zyoud.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl02_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/zyoud.jpg'
                                        alt='أ.د حسين الزيود' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    نائب الرئيس لشؤون العلاقات الخارجيةوخدمة المجتمع المحلي
                                    <br />
                                    <br />
                                    أ.د حسين الزيود
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/drOmarAlown.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl03_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/drOmarAlown.jpg'
                                        alt='أ.د عمر فلاح العطين' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    نائب الرئيس لشؤون الاستثمار والتطوير
                                    <br />
                                    <br />
                                    أ.د عمر فلاح العطين
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.دعبد الباسط احمد مراشده.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl04_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.دعبد الباسط احمد مراشده.jpg'
                                        alt='أ.د عبد الباسط احمد مراشده' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية الاداب والعلوم الانسانيه
                                    <br />
                                    <br />
                                    أ.د عبد الباسط احمد مراشده
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عامر ابراهيم العمري.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl05_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عامر ابراهيم العمري.jpg'
                                        alt='أ.د عامر ابراهيم العمري' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد البحث العلمي
                                    <br />
                                    <br />
                                    أ.د عامر ابراهيم العمري
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د رائد غانم.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl06_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د رائد غانم.jpg'
                                        alt='أ.د رائد غانم' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية العلوم
                                    <br />
                                    <br />
                                    أ.د رائد غانم
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د رائد غانم 2.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl07_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د رائد غانم 2.jpg'
                                        alt='أ.د رائد غانم' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    مسير اعمال عميد كلية الطيران
                                    <br />
                                    <br />
                                    أ.د رائد غانم
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/Drsora.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl08_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/Drsora.jpg'
                                        alt='د. سرى الحراحشة' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    قائم باعمال عميد معهد علوم الارض والبيئة
                                    <br />
                                    <br />
                                    د. سرى الحراحشة
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.دصالح الشرفات.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl09_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.دصالح الشرفات.jpg'
                                        alt='أ.د صالح الشرفات' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية العلوم التربوية
                                    <br />
                                    <br />
                                    أ.د صالح الشرفات
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د سليمان احمد القادري.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl10_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د سليمان احمد القادري.jpg'
                                        alt='أ.د سليمان احمد القادري' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد الدراسات العليا
                                    <br />
                                    <br />
                                    أ.د سليمان احمد القادري
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عماد الخصاونه.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl11_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عماد الخصاونه.jpg'
                                        alt='أ.د عماد الخصاونه' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية الشريعه
                                    <br />
                                    <br />
                                    أ.د عماد الخصاونه
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/د عبد المجيد الرجوب.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl12_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/د عبد المجيد الرجوب.jpg'
                                        alt='د. عبد المجيد الرجوب' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    القائم باعمال عميد كلية الهندسه
                                    <br />
                                    <br />
                                    د. عبد المجيد الرجوب
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د بهجت عيد الجوازنه.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl13_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د بهجت عيد الجوازنه.jpg'
                                        alt='أ.د بهجت عيد الجوازنه' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية الاقتصاد والعلوم الادارية
                                    <br />
                                    <br />
                                    أ.د بهجت عيد الجوازنه
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عماد الخصاونه1.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl14_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د عماد الخصاونه1.jpg'
                                        alt='أ.د عماد الخصاونه' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    مسير اعمال عميد المعهد العالي للدراسات الإسلامية
                                    <br />
                                    <br />
                                    أ.د عماد الخصاونه
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/ا.د هاني اخو ارشيده.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl15_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/ا.د هاني اخو ارشيده.jpg'
                                        alt='أ.د هاني اخو ارشيده' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد معهد بيت الحكمه
                                    <br />
                                    <br />
                                    أ.د هاني اخو ارشيده
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/IMG_0862.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl16_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/IMG_0862.jpg'
                                        alt='أ.د محمد سعد البشتاوي' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    عميد كلية الاميرة سلمى بنت عبدالله للتمريض
                                    <br />
                                    <br />
                                    أ.د محمد سعد البشتاوي
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/DrIsma3il.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl17_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/DrIsma3il.jpg'
                                        alt='Prof.  Saad Bani Mohammad' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    Dean of the Faculty of Prince Hassan bin Abdullah for information technology
                                    <br />
                                    <br />
                                    Prof. Saad Bani Mohammad
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/drMissa.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl18_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/drMissa.jpg'
                                        alt='Prof. Maysa Beydoun' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='#' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    Dean of the Faculty of Law
                                    <br />
                                    <br />
                                    Prof. Maysa Beydoun
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-3 BoardOf">
                    <article class="featured-course ">
                        <figure class="image" style="border-radius: 3%;">
                            <div class="image-wrapper">
                                <a href="https://www.aabu.edu.jo/EN/DeansCouncil/د عبدالله العرقان.jpg"
                                    id="ctl00_ctl36_g_5d7d4cd8_9a52_47f4_9329_fbd4345bd5a4_ctl00_rptPresidentGallery_ctl19_imgPup"
                                    class="image-popup">
                                    <img src='https://www.aabu.edu.jo/EN/DeansCouncil/د عبدالله العرقان.jpg'
                                        alt='د. عبدالله العرقان' /></a>&#160;
                            </div>
                        </figure>
                        <div class="description">
                            <a href='' style="color: #01366a ! important;">
                                <h3 style="text-align:center">
                                    القائم باعمال عميد شؤون الطلبة
                                    <br />
                                    <br />
                                    د. عبدالله العرقان
                                </h3>
                            </a>
                        </div>
                    </article>
                    <!-- /.featured-course -->
                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->


        </div>
        <div class="ms-clear"></div>
        </div>
        </div>
        </div>
        </div>
        </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
        </div><!-- /.container -->

        <div style='display:none' id='hidZone'>
            <menu class="ms-hide">
                <ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif"
                    onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))"
                    text="Help" type="option" style="display:none">

                </ie:menuitem>
            </menu>
        </div>
        </span>
        </div>
        </div>
        <!--End Main-->
        </div>
        <!-- end Page Content -->






        </div>
    </main>
    <br>
    <br>
    <footer>

        <%- include ("../footer/footer") %>
    </footer>
    <%- include ('../views/footer') %>
    <script type="text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>

</body>