<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>departments</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</head>
<body>


<main>
    <div class="container">
        <ul class="list-links">
            
                    <li><a href='/en/departments/registrationunit/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Registration Department</a></li>
                
                    <li><a href='/en/departments/publicrelations/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Public Relations and Media </a></li>
                
                    <li><a href='/en/departments/sportsactivity/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Sports activity</a></li>
                
                    <li><a href='/en/departments/qualityassurance/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Quality Assurance and Planning </a></li>
                
                    <li><a href='/en/departments/finance/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Department of finance</a></li>
                
                    <li><a href='/en/departments/hr/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Human resources</a></li>
                
                    <li><a href='/en/departments/legalaffairs/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Department of Legal Affairs</a></li>
                
                    <li><a href='/en/departments/audit/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Internal Control</a></li>
                
                    <li><a href='/en/departments/maintenance/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Engineering Construction Bureau of the Department of</a></li>
                
                    <li><a href='/en/departments/agriculture/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Agriculture, Water and Irrigation Department</a></li>
                
                    <li><a href='/en/departments/tenders/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Tenders department</a></li>
                
                    <li><a href='/en/departments/councils/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Secretariat of the Department of the secret councils</a></li>
                
                    <li><a href='/en/departments/supplies/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Supplies Department</a></li>
                
                    <li><a href='/en/departments/investment/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Investment Fund Department</a></li>
                
                    <li><a href='/en/departments/samarqand/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Samarqand Museum</a></li>
                
                    <li><a href='/en/units/omani/pages/default.aspx' target='_self' style="color: rgb(1, 54, 106) !important;">
                        Omani Studies Unit</a></li>
                
        </ul>
    </div>
    <!-- /.section-content -->
</section>
<!-- /.academic-life -->

			</div><div class="ms-clear"></div></div>
		</div>
	</div>
</div>      	  		
        	</div><!-- /.col-md-9 -->      	   	        
        </div><!-- /.row -->
    </div>
</main>
<br>
<br>



</body>
</html>