<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>departments</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
<style>
    img{
        height: 126px;
        /* float: left; */
        width: 100px;
    }
</style>
</head>
<body>


<main>
    <div class="container">
        <header>
            <h2>
                Gallery</h2>
        </header>
        <div class="section-content">
            <a href='https://www.aabu.edu.jo/EN/Gallery/6.jpg' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/6.jpg' alt=""></a>
                    
                       <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0630.jpg' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0630.jpg' alt=""></a>
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4991.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4991.JPG' alt=""></a>
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5002.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5002.JPG' alt=""></a></li>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5117.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5117.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5142.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5142.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5212.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5212.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5232.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5232.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5340.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5340.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5372.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5372.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5404.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5404.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5432.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5432.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5605.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5605.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5632.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5632.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5707.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5707.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5725.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5725.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5836.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5836.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5893.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5893.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5942.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5942.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_5998.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_5998.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_6085.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_6085.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/111.jpg' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/111.jpg' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0080.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0080.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0143.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0143.JPG' alt=""></a>
                    
                       <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0178.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0178.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0227.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0227.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0476.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0476.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0547.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0547.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_0598.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_0598.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1119.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1119.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1188.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1188.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1289.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1289.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1324.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1324.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1423.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1423.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1453.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1453.JPG' alt=""></a>
                    
                       <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1457.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1457.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1578.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1578.JPG' alt=""></a>
                    
                       <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1591.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1591.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1707.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1707.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1751.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1751.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1895.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1895.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_1944.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_1944.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_2024.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_2024.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4049.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4049.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4086.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4086.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4122.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4122.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4140.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4140.JPG' alt=""></a>
                    
                        <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4218.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4218.JPG' alt=""></a>
                    
                       <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4267.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4267.JPG' alt=""></a>
                    
                      <a href='https://www.aabu.edu.jo/EN/Gallery/IMG_4282.JPG' class="image-popup">
                            <img src='https://www.aabu.edu.jo/EN/Gallery/IMG_4282.JPG' alt=""></a>
                    
            
        </div>
        <!-- /.section-content -->
    </section>
    <!-- /.gallery -->

            </div>

</div>
</main>
<br>
<br>



</body>
</html>