<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>general_information</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</head>
<body>


<main>
    <div class="container">
        <div class="ms-sitemapdirectional">
            <ol class="breadcrumb">
                <li>
                    <span id="ctl00_PlaceHolderMain_BreadCrumbs_ContentMap"><span><a title="Home" class="ms-sitemapdirectional" href="/EN/Pages/default.aspx">Home</a></span><span>
                            / 
                        </span><span class="ms-sitemapdirectional">General Information</span></span>
                </li>
            </ol>
        </div>
    </div>
    
        <!-- end Breadcrumb -->
        
        <div class="container">
            <div class="row">  	    
                 <div class="col-md-3">	     	
                     <div class="ms-webpart-zone ms-fullWidth">
        <div id="MSOZoneCell_WebPartctl00_ctl36_g_a585e052_10c1_41bb_816a_e4ce196ccc04" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
            <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                <div WebPartID="a585e052-10c1-41bb-816a-e4ce196ccc04" HasPers="false" id="WebPartctl00_ctl36_g_a585e052_10c1_41bb_816a_e4ce196ccc04" width="100%" class="ms-WPBody noindex " allowDelete="false" allowExport="false" style="" ><div id="ctl00_ctl36_g_a585e052_10c1_41bb_816a_e4ce196ccc04">
                    
    
    
    
    
    
    
    
    <section id="division">
        <header>
            
        </header>
        <div id="ctl00_ctl36_g_a585e052_10c1_41bb_816a_e4ce196ccc04_ctl00_content" class="section-content" style="padding-top:15px;">
            <ul class="Uleft">
                
                        <li class="LiLeft">
                            <a href='/en/pages/universitycouncil.aspx' target='_self' class="hrefleft">
                                University Administration</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/general_information.aspx' target='_self' class="hrefleft">
                                General information</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/universitymessage.aspx' target='_self' class="hrefleft">
                                University message</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/mission.aspx' target='_self' class="hrefleft">
                                Mission</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/goals.aspx' target='_self' class="hrefleft">
                                Goals</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/corevalues.aspx' target='_self' class="hrefleft">
                                University values</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/departments/pages/default.aspx' target='_self' class="hrefleft">
                                Departments and Units</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/campusmap.aspx' target='_self' class="hrefleft">
                                Campus Map</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/gallery.aspx' target='_self' class="hrefleft">
                                Gallery</a></li>
                    
                        <li class="LiLeft">
                            <a href='/en/pages/mafraqcity.aspx' target='_self' class="hrefleft">
                                Mafraq City</a></li>
                    
            </ul>
        </div>
        <!-- /.section-content -->
    </section>
    <!-- #.divisions -->
    
                </div><div class="ms-clear"></div></div>
            </div>
        </div>
    </div>	     	
                 </div><!-- /.col-md-4 -->	     	
                              
                 <div class="col-md-9">
                     <div class="ms-webpart-zone ms-fullWidth">
        <div id="MSOZoneCell_WebPartctl00_ctl36_g_1e0c740e_bdb0_4249_944f_f835e0195a3b" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
            <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                <div WebPartID="1e0c740e-bdb0-4249-944f-f835e0195a3b" HasPers="false" id="WebPartctl00_ctl36_g_1e0c740e_bdb0_4249_944f_f835e0195a3b" width="100%" class="ms-WPBody noindex " allowDelete="false" allowExport="false" style="display:none;" ><div id="ctl00_ctl36_g_1e0c740e_bdb0_4249_944f_f835e0195a3b">
                    
    
    
    
    
    
    
    <section id="division">
        <header>
            <h2>
                Administrative departments</h2>
        </header>
        <div class="section-content">
            <ul>
                
                        <li><a class="hrefa" href='/en/departments/registrationunit/pages/default.aspx ' target='_self'>
                            Registration unit</a></li>
                    
                        <li><a class="hrefa" href='/en/departments/publicrelations/pages/default.aspx' target='_self'>
                            Public Relations Department</a></li>
                    
                        <li><a class="hrefa" href='/en/departments/mediaAffairs/pages/default.aspx' target='_self'>
                            Media Affairs Department</a></li>
                    
                        <li><a class="hrefa" href='/en/departments/sportsactivity/pages/default.aspx' target='_self'>
                             Sports activity Department</a></li>
                    
                        <li><a class="hrefa" href='/en/departments/qualityassurance/pages/default.aspx' target='_self'>
                            Department of quality assurance and planning</a></li>
                    
                        <li><a class="hrefa" href='/en/departments/publicrelations/pages/default.aspx' target='_self'>
                            Department of finance</a></li>
                    
            </ul>
        </div>
        <!-- /.section-content -->
    </section>
    <!-- #.divisions -->
    
                </div><div class="ms-clear"></div></div>
            </div><div class="ms-PartSpacingVertical"></div>
        </div><div id="MSOZoneCell_WebPartWPQ1" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
            <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                <div WebPartID="17d1178f-347a-4dfe-ab57-f6216356e479" HasPers="false" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex " allowDelete="false" style="" ><div class="ms-rtestate-field"><header>
       <h1>General Information​​</h1></header><img src="./img/University_Mission12.png" alt="" style="width: 672px; margin-bottom: 2%;"/> 
    <p><span class="ms-rteFontSize-3 ms-rteThemeForeColor-4-5" style="text-decoration: #181818;"> Al al-Bayt University is located on the outskirts of the city of Mafraq , 65 Kilometers to the north-east (about 45 minutes drive) of the capital Amman - Jordan . The university has integrated academic facilities, student housing, and social services on one site, extending over an area of 7539 dunums (dunum=1000 square meters). </span></p> 
    <h2>Brief History :</h2> 
    <p><span class="ms-rteFontSize-3 ms-rteThemeForeColor-4-5" style="text-decoration: #181818;">On August 17, 1992 (18 Safar 1413 H), a Royal Decree was issued ordaining the establishment of Al al-Bayt University. As stated in the Royal Message, the University is to meet an urgent need for a new kind of university; one that combines the requirements of scientific methodology in teaching and research, on one hand, and the requirements of belief and clarity of vision on the other, thus, creating harmony between the rounded personality of the Muslim and his new environment. The University is also intended to uphold the principles of freedom, justice, tolerance, respect of other people&#39;s beliefs and faiths, and co-existence. On December 16, 1992 (21 Jumada II 1413 H), another Royal Decree was issued approving the formation of Al al-Bayt Special Royal Committee, under the chairmanship of His Royal Highness Crown Prince Hassan, and the membership of a selected high-standing scholars and intellectuals from Jordan and other parts of the Islamic world. The main task of this committee was to lay the foundation of the University, and to submit its decisions on operational and administrative issues to his Majesty the King for his final approval/decision. The Royal Decree pertaining to the appointment of the first President of Al al-Bayt University was issued on May 22, 1993 (1 Thu al-Hujja 1414 H). Immediately thereafter, a number of administrative, academic and technical committees were set up to carry out the mission of establishing the University, each in accordance to its assigned responsibilities. After completing its infrastructure, recruiting distinguished faculty members, and defining its courses and programs, the University was ready to receive its first group of students on October 1, 1994. Under the patronage of His Majesty King Hussein, and the presence of His Royal Highness Crown Prince Hassan, Al al-Bayt University was officially inaugurated on March 6, 1995 (6 Ramadan 1415 H). Since the establishment of the University, the area has been transformed into an Oasis in the Desert through the implementation of new schemes of plantation, combating desertification and preserving the indigenous species. Water harvesting in this arid area has proven to be successful. </span></p> </div><div class="ms-clear"></div></div>
            </div>
        </div>
    </div>
                 </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    
    <div style='display:none' id='hidZone'><menu class="ms-hide">
        <ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">
    
        </ie:menuitem>
    </menu></div>
                                    </span>                    
                                </div>
                           </div>
                          <!--End Main-->
                        </div>
                        <!-- end Page Content -->



 </div>
</main>
<br>
<br>



</body>
</html>