<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mafraq City</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<body>


<main>
    <div class="container">
        <h1> The City of Mafraq</h1>
        <p>
            The City of Mafraq
            A city in northern Jordan, and capital of the Mafraq Govern orate. It is an administrative and regional trade centre for the sparsely populated northeast part of the country. Mafraq is a transportation hub with roads to Syria in the north, Iraq in the east and Saudi Arabia in the south-east. The area contains a lot of archeological sites from Paleolithic ruins to Ottoman sites, such as Umm al-Jimal and al-Fadeen. The region has a desert climate. It tends to be rather hot and dry during the day and in the summer, and relatively cold during the night and in the winter.</p>
    </div>
</main>
<br>
<br>



</body>
</html>