<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/about.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</head>
<body>
<header>
    <%- include ("../views/header") %>
</header>

<main>
    <div class="container">
        <div class="col-md-9">       	    		
            <div class="ms-webpart-zone ms-fullWidth">
<div id="MSOZoneCell_WebPartWPQ1" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
        <div WebPartID="17693546-06f5-49c7-b042-0ccfcb204ec9" HasPers="false" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex " allowDelete="false" style="" ><div class="ms-rtestate-field"><div><img src="./" class="ms-rteFontSize-3 ms-rteThemeForeColor-2-5" alt="" style="width: 672px; text-decoration: #222222;"/>&#160;</div><div><br class="ms-rteFontSize-3 ms-rteThemeForeColor-2-5" style="text-decoration: #222222;"/></div><div><span class="ms-rteFontSize-3 ms-rteThemeForeColor-2-5" style="text-decoration: #222222;"><span id="DeltaPlaceHolderMain" style="text-decoration: #222222;"></span><br/></span></div>
</div><div class="ms-clear"></div></div>
    </div>
</div>
    </div>
</main>
<br>
<br>
<footer>
    
    <%- include ("../views/footer") %>
    </footer>


</body>
</html>