<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>University_Administration</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">
  
      <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/home.css">
<link rel="stylesheet" href="../style/slick/slick.css">
<link rel="stylesheet" href="../style/slick/homeSlick.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</head>
<body>
<main>
    <div class="container">
        <h2>University Administration</h2>
        <h4>Office of the president</h4>
        <div class="row">
            <div class="col-md-3 col-sm-3 BoardOf">
                <article class="featured-course ">
                    <figure class="image" style="border-radius: 3%;">
                        <div class="image-wrapper">
                            <a href="https://www.aabu.edu.jo/EN/OfficeOfThePresident/ا.د عدنان العتوم.jpg" id="ctl00_ctl36_g_63f1fa28_5995_4de5_be74_2ca0da70667a_ctl00_rptPresident_ctl00_imgPup" class="image-popup">
                                <img src='https://www.aabu.edu.jo/EN/OfficeOfThePresident/ا.د عدنان العتوم.jpg' alt='Prof Adnan Al-Atoom' style="height: 126px;"></a>&#160;
                        </div>
                    </figure>
                    <div class="description">
                        <a href='' style="color: #01366a ! important;">
                            <h5>
                                President
                                <br />
                                <br />
                                Prof Adnan Al-Atoom
                            </h5>
                        </a>
                    </div>
                </article>
                <!-- /.featured-course -->
            </div>
            <div class="col-md-3 col-sm-3 BoardOf">
                <article class="featured-course ">
                    <figure class="image" style="border-radius: 3%;">
                        <div class="image-wrapper">
                             <a href="https://www.aabu.edu.jo/EN/OfficeOfThePresident/ismail.jpg" id="ctl00_ctl36_g_63f1fa28_5995_4de5_be74_2ca0da70667a_ctl00_rptPresidentGallery_ctl00_imgPup" class="image-popup">
                                <img src='https://www.aabu.edu.jo/EN/OfficeOfThePresident/ismail.jpg' alt=' Prof smail Ababneh ' style="height: 126px;"></a>&#160;
                        </div>
                    </figure>
                    <div class="description">
                        <a href='#' style="color: #01366a ! important;">
                            <h5>
                                 Vice President's Office 
                                <br />
                                <br />
                                 Prof smail Ababneh 
                            </h5>
                        </a>
                    </div>
                </article>
                <!-- /.featured-course -->
            </div>
            <!-- /.col-md-3 -->
        
            <div class="col-md-3 col-sm-3 BoardOf">
                <article class="featured-course ">
                    <figure class="image" style="border-radius: 3%;">
                        <div class="image-wrapper">
                             <a href="https://www.aabu.edu.jo/EN/OfficeOfThePresident/eqab.jpg" id="ctl00_ctl36_g_63f1fa28_5995_4de5_be74_2ca0da70667a_ctl00_rptPresidentGallery_ctl01_imgPup" class="image-popup">
                                <img src='https://www.aabu.edu.jo/EN/OfficeOfThePresident/eqab.jpg' alt=' Prof Eqab Rabei ' style="height: 126px;"></a>&#160;
                        </div>
                    </figure>
                    <div class="description">
                        <a href='#' style="color: #01366a ! important;">
                            <h5>
                                 Vice President's Office 
                                <br />
                                <br />
                                 Prof Eqab Rabei 
                            </h5>
                        </a>
                    </div>
                </article>
                <!-- /.featured-course -->
            </div>
             <!-- /.col-md-3 -->
        
             <div class="col-md-3 col-sm-3 BoardOf">
                <article class="featured-course ">
                    <figure class="image" style="border-radius: 3%;">
                        <div class="image-wrapper">
                             <a href="https://www.aabu.edu.jo/EN/OfficeOfThePresident/zyoud.jpg" id="ctl00_ctl36_g_63f1fa28_5995_4de5_be74_2ca0da70667a_ctl00_rptPresidentGallery_ctl02_imgPup" class="image-popup">
                                <img src='https://www.aabu.edu.jo/EN/OfficeOfThePresident/zyoud.jpg' alt='Professor Hussein Al-Zeaud ' style="height: 126px;"></a>&#160;
                        </div>
                    </figure>
                    <div class="description">
                        <a href='#' style="color: #01366a ! important;">
                            <h5 >
                                 Vice President's Office 
                                <br />
                                <br />
                                Professor Hussein Al-Zeaud 
                            </h5>
                        </a>
                    </div>
                </article>
                <!-- /.featured-course -->
            </div>
            <!-- /.col-md-3 -->
        
            <div class="col-md-3 col-sm-3 BoardOf">
                <article class="featured-course ">
                    <figure class="image" style="border-radius: 3%;">
                        <div class="image-wrapper">
                             <a href="https://www.aabu.edu.jo/EN/OfficeOfThePresident/IMG_97862.jpg" id="ctl00_ctl36_g_63f1fa28_5995_4de5_be74_2ca0da70667a_ctl00_rptPresidentGallery_ctl03_imgPup" class="image-popup">
                                <img src='https://www.aabu.edu.jo/EN/OfficeOfThePresident/IMG_97862.jpg' alt='Prof Omar Falah Al-Ateen' /
                                style="height: 126px;"></a>&#160;
                        </div>
                    </figure>
                    <div class="description">
                        <a href='#' style="color: #01366a ! important;">
                            <h5>
                                Vice President for Investment and Development
                                <br />
                                <br />
                                Prof Omar Falah Al-Ateen
                            </h5>
                        </a>
                    </div>
                </article>
                <!-- /.featured-course -->
            </div>
            <!-- /.col-md-3 -->
        
</div>
<!-- /.row -->


			</div><div class="ms-clear"></div></div>
		</div>
	</div>
</div>
	     	</div><!-- /.col-md-8 -->
		</div><!-- /.row -->
	</div><!-- /.container -->

<div style='display:none' id='hidZone'><menu class="ms-hide">
	<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

	</ie:menuitem>
</menu></div>
			                    </span>                    
		                	</div>
	                   </div>
	                  <!--End Main-->
                    </div>
                    <!-- end Page Content -->
                    



    </div>
</main>
<br>
<br>
</body>
</html>